code part/part1_components/assignment1-basics/.venv/
**/.venv/
**/.uv-cache/
**/.pytest_cache/
**/__pycache__/
**/.tiktoken-cache/
**/.uv-bootstrap/

*.aux
*.out
*.toc
*.log

**/assignment1_report.tex
**/tokenizer_report.tex
notes.tex
